.main-1{
    background-color: #1f2937;
    color: white;
}

.first-heading{
    color: #f9faf8;
    font-size: 48px;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    padding-top: 10px;
}

.header-links{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 100px;
}

.header-l1{
    margin-right: 20px;
}

.header-l2{
    margin-right: 20px;
}

.header-elements{
    display: flex;
    justify-content: space-between;
}

.heading-paragraph{
    justify-content: flex-start;
    margin-left: 100px;
}

.my-image{
    justify-content: flex-end;
    margin-right: 100px;
}

.signup{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    font-size: 18px;
}

.main-2{
    padding-top: 30px;
}

.images-and-paragraphs{
    display: flex;
    justify-content: space-between;

}

.images-and-paragraphs img{
    border-radius: 12px;
    border: rgb(79, 230, 79) solid 4px;
}

.second-heading{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.main-2 p{
    text-align: left;
}

.main-3{
    background-color: #e5e7eb;
}

.main-3 p{
    font-size: 36px;
}

.main-4{
    background-color: white;
}

.main-4-container{
    background-color: #3882f6;
    border-radius: 16px;
    margin: 100px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.h3-and-paragraph{
    align-items: start;
    margin-left: 100px;
}

.sign-up-2{
    margin-right: 200px;
    margin-top: 40px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    font-size: 18px;
}

.footer{
    background-color: #1f2937;
    text-align: center;
    color: white;
}

